{% extends 'layout.html' %}<!--繼承-->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>多國餐廳評比系統</h1>
          <h2>下方挑選國家進行餐廳評比，可以留下評分與評論</h2>
          <div>
            <a href="#clients" class="btn-get-started scrollto">選擇地方</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="static/img/hero-img.png" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="section-title">
          <h2>國家</h2>
          <p>當地餐廳</p>
        </div>
  
        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a href="/layer2?location=ID"><img src="static/img/id_flag.png" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="/layer2?location=TW"><img src="static/img/tw_flag.png" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </section><!-- End Clients Section -->
  </main>
  {% endblock content %}