{% extends 'layout.html' %}<!--繼承-->
{% block content %}
    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Login</h2>
          <p>登入帳號密碼</p>
        </div>
        <form action="" method="post" role="form">
          {{ form.hidden_tag() }}
          <div class="row justify-content-center">
            <div class="col-lg-4 d-flex align-items-center" data-aos="fade-up" data-aos-delay="100">
              <div class="info">
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <p>{{form.email (placeholder="信箱",class="form-control")}}</p>
                </div>

                <div class="phone">
                  <i class="bi bi-lock"></i>
                  <p>{{form.password (placeholder="密碼",class="form-control")}}</p>
                </div>
                
                <div class="text-end"><a href = "/forget">忘記密碼?</a></div>

                <div class="text-center submitBtn"><button type="submit">登入</button></div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section><!-- End Contact Us Section -->
  {% endblock content %}